.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.sub-container{
    background-color: royalblue;
    display: inline-block;
    padding: 30px;
    border-radius: 15px;
    color: white;
    margin-bottom: 20px;
}
h1{
    margin-bottom: 10px;
}
input{
    margin-bottom: 10px;
    width: 100%;
}
#btn{
    background-color: gray;
    color: white;
    width: 100%;
}